<%= form_for address, url: path, remote: true do |f| %>
  <table>
    <tr>
      <td><%= f.label :full_name %></td>
      <td><%= f.text_field :full_name, required: true %><span class="text-danger">*</span></td>
    </tr>
    <tr>
      <td><%= f.label :phone %></td>
      <td><%= f.phone_field :phone, required: true %><span class="text-danger">*</span></td>
    </tr>
    <tr>
      <td><%= f.label :postcode %></td>
      <td><%= f.text_field :postcode, required: true %><span class="text-danger">*</span></td>
    </tr>
    <tr>
      <td><%= f.label :address_line_1 %></td>
      <td><%= f.text_field :line_1, required: true %><span class="text-danger">*</span></td>
    </tr>
    <tr>
      <td><%= f.label :address_line_2 %></td>
      <td><%= f.text_field :line_2 %></td>
    </tr>
    <tr>
      <td><%= f.label :town %></td>
      <td><%= f.text_field :town, required: true %><span class="text-danger">*</span></td>
    </tr>
    <tr>
      <td><%= f.label :county %></td>
      <td><%= f.text_field :county, required: true %><span class="text-danger">*</span></td>
    </tr>
    <tr>
      <td><%= f.label :instructions %></td>
      <td><%= f.text_field :instructions %></td>
    </tr>
    <tr>
      <td><%= f.label :security_code %></td>
      <td><%= f.number_field :security_code %></td>
    </tr>
  </table>

  <%= f.submit :submit %>
<% end %>