<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th scope="col">id</th>
    <th scope="col">email</th>
    <th scope="col">status</th>
    <th scope="col">quantity</th>
    <th scope="col">paypal orderID</th>
    <th scope="col">amount</th>
    <th scope="col">created_at</th>
    <th scope="col">updated_at</th>
  </tr>
  </thead>
  <tbody>
  <% @orders.each do |order| %>
    <tr>
      <td scope="row"><%= order.id %></td>
      <td><%= order.user&.email %></td>
      <td><%= order.status %></td>
      <td><%= order.lists.size %></td>
      <td><%= link_to order.paypal&.orderID, admin_order_path(order), method: :get %></td>
      <td><%= order.amount %></td>
      <td><%= order.created_at %></td>
      <td><%= order.updated_at %></td>
      <td><%= link_to order.tracking_info, shipment_admin_order_path(order) %></td>
    </tr>
  <% end %>
  </tbody>
</table>