<div class="row">
  <div class="col col-6">
    <!--  TODO: change product path to customer view-->
    <%= link_to product.title, product_path(product) %>
  </div>
  <div id="quantity_<%= category.id %>" class="col col-3">
    <div class="row">
      <% if product.category.countable %>
        <div id="minus" class="col col-3 pointer">
          <%= icon("file-minus") %>
        </div>
        <div class="col col-2">
          <span value="<%= product.id %>"><%= cart[category.title]['quantity'] %></span>
        </div>
        <div id="plus" class="col col-auto pointer">
          <%= icon("file-plus") %>
        </div>
      <% else %>
        <div class="col col-3"></div>
        <div class="col col-2">
          <span value="<%= category.title %>"><%= cart[category.title]['quantity'] %></span>
        </div>
        <div class="col col-auto"></div>
      <% end %>
    </div>

  </div>
  <div class="col col-2">
    <%= link_to :change, admin_category_products_path(category.id), remote: true, method: :post %>
    <%= link_to :remove, admin_category_products_path(category.id), remote: true, method: :post %>
  </div>
</div>
