<div class="row">
  <div class="col col-3">
    <%= render "welcome/score" %>
  </div>
  <div class="col">
    <% @categories.each do |c| %>
      <div class="row position-relative">
        <div id='category' value=<%= c.id %> class="col-2"><span class="align-middle"><%= c.title.humanize %></span>
        </div>

        <div id='icon_<%= c.id %>' class="col-2">
          <%= render :partial => "welcome/image", locals: { img: (session[:cart][c.title].blank? ? "icons/#{c.title}.svg" : find_product(session[:cart][c.title]['id']).image) } %>
        </div>
        <div class="row col position-relative">
          <div class="col position-absolute" id="selected_<%= c.id %>">
            <% if session[:cart][c.title].blank? %>
              <div class="col">
                <%= link_to :Click_me_to_choose_one, products_admin_category_path(c.id), remote: true, method: :post %>
              </div>
              <div id="quantity_<%= c.id %>" class="col"></div>
            <% else %>
              <%= render partial: "welcome/selected", locals: { category: c, cart: session[:cart], product: find_product(session[:cart][c.title]['id']) } %>
            <% end %>
          </div>
          <div class="col position-absolute bg-secondary" style="z-index: 1">
            <div id="products_<%= c.id %>" class="bg-info"></div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render "welcome/total" %>