<div class="row">
  <table class="table table-striped table-hover align-middle">
    <caption>Products in Cart</caption>
    <thead>
    <th scope="col" class="w-50">Title</th>
    <th scope="col">Price</th>
    <th scope="col">Qty</th>
    <th scope="col">Subtotal</th>
    <th scope="col">Operation</th>
    </thead>
    <tbody>
    <% @cart.lists.each do |l| %>
      <tr>
        <td scope="row"><%= l.product.title %></td>
        <td><%= l.price %></td>
        <td class="row">
          <div id="list_minus" class="col pointer">
            <%= icon("file-minus") %>
          </div>
          <div class="col">
            <span value="<%= l.product.id %>"><%= l.quantity %></span>
          </div>
          <div id="list_plus" class="col pointer">
            <%= icon("file-plus") %>
          </div>
        </td>
        <td><%= l.price * l.quantity %></td>
        <td><%= link_to :remove, cart_path(l), method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
    <tr>
      <td colspan="2">Order Total:</td>
      <td colspan="2"></td>
      <td>€<span id="total"><%= @cart.amount %></span></td>
    </tr>
    </tbody>
  </table>
</div>


<%= link_to :checkout, new_account_order_path %>