<div>
  <table>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Quantity</th>
    </tr>
    <% @cart.each do |l| %>
      <tr>
        <td><%= l.product.id %></td>
        <td><%= l.product.title %></td>
        <td><%= l.quantity %></td>
        <td><%= link_to :remove, cart_path(l), method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </table>
</div>

<%= link_to :place_order, new_account_order_path %>